*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#rightWheel, #leftWheel{
    animation: wheel 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);

    }
}
#menOnTheBike{
    animation: bike 1s ease-in-out infinite alternate;
    transform-origin: bottom;
}

@keyframes bike{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(25deg)
    }
}

#hat{
    animation: hat 1s ease-in-out infinite alternate;
    transform-origin: center;
    transform-box: fill-box;
}

@keyframes hat{
    from{
        transform: translateY(0%);
    }
    to{
        transform: translateY(67%);
    }
}

.animate_Container{
    width: 100%;
    background-image: linear-gradient(to right,rgb(0, 195, 255),rgb(0, 93, 216) );
    height: 650px;
    position: relative;
}

.animate_container{
   position: absolute;
   right: 5%;
   top: 22%;
}
.nav_bar{
    padding-top: 10px;
    position: absolute;
    right: 2%;
    top: 2%;
    
}

.nav_bar ul{
    float: right;
}

.nav_bar ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 30px;
    
}
.nav_bar ul li a{
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.5s;
    
}
.nav_bar ul li a:hover{
    color: rgb(0, 255, 213);
    
}

.header_text_container{
    position: absolute;
    top: 55%;
    left: 2%;
   
}

.logo_one{
    font-size: 30px;
    color: rgb(255, 0, 179);
    font-family: 'Dancing Script', cursive;
    transition: font-size 1s;
   
}

.logo_Two{
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: 'Libre Baskerville', serif;
    transition: font-size 2s;
}
.logo_text{
    padding: 20px;
    cursor: pointer;
    position: absolute;
    top: 1%;
    left: 1%;
    
}
.logo_text .logo_one:hover {
    font-size: 35px;
}
.logo_text .logo_Two:hover {
    font-size: 35px;
}
#header_text{
    color: #fff;
    font-size: 35px;
    text-align: left;
}

.btn_container{
    margin-top: 20px;
}

.btn_one{
    padding: 7px 30px 7px 30px;
    font-size: 15px;
    border: none;
    background-color: rgb(0, 192, 0);
    color: #fff;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    box-shadow: #000000 1px 1px 5px;
    transition: color 1s;
    transition-timing-function: linear;
}
.btn{
    padding: 7px 40px 7px 40px;
    font-size: 15px;
    margin-left: 15px;
    border: none;
    background-color: rgb(0, 192, 0);
    color: #fff;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    box-shadow: #000000 1px 1px 5px;
    transition: color 1s;
    transition-timing-function: linear;
}
.btn_container .btn_one:hover{
    color: rgb(195, 255, 0);
}
.btn_container .btn:hover{
    color: rgb(195, 255, 0);
}
.burger{
	width: 20px;
	border-bottom: solid 2px #fff;
	margin-top: 3px;
}

.burger_container{
	padding-top: 20px;
	padding-left: 5px;
	display: none;
}

@media screen and (max-width: 520px) {
	.nav_bar{
		display: none;
	}
	#svg{
		width:300px;
		margin: 0 0 0 -28%;
	}
	.logo_text{
		position: absolute;
		top: 2%;
		left: 35%;
		
	}
	.logo_one, .logo_Two{
		font-size: 15px;
	}
	.animate_Container{
		width: 100%;
		height: 600px;
	}
	#header_text{
		font-size: 20px;
		margin-top: 20px;
	}
	.btn_one{
    padding: 10px;
    font-size: 12px;
    border: none;
    background-color: rgb(0, 192, 0);
    color: #fff;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    box-shadow: #000000 1px 1px 5px;
    transition: color 1s;
    transition-timing-function: linear;
}
.btn{
   padding: 10px;
    font-size: 12px;
    margin-left: 5px;
    border: none;
    background-color: rgb(0, 192, 0);
    color: #fff;
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    box-shadow: #000000 1px 1px 5px;
    transition: color 1s;
    transition-timing-function: linear;
}
.header_text_container{
    position: absolute;
    top: 65%;
    left: 2%;
   
}
.burger_container{
	display: block;
}
	
}